@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* START */ 

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* handle */
  ::-webkit-scrollbar-thumb {
    background: #454a4d; 
    border-radius: 10px;
  }
  
  /* handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #444c4c; 
  }

/* OVER */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* background-color: ##202324; */
    background-color: #202324;

}


body, html {
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
}

a {
    text-decoration: none;
    color: white;
}
.nav {
    margin: 0;
    padding: 0;
    height: 60px;
    background-color: #2e2e2e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: -1px 2px 17px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 2px 17px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 17px 1px rgba(0, 0, 0, 0.75);
    user-select: none;
}

.spacer {
    margin: 0 10px 0 5px;
    width: 3px;
    height: 70%;
    border-radius: 5px;
    background-color: #00000021;
}

.logo {
    margin: 0;
    padding: 0 10px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo img {
    margin: 0 0 0 30px;
    padding: 0;
    max-width: 35px;
    max-height: 35px;
    border-radius: 35px;
}

.logo h1 {
    padding: 0;
    margin: 0;
    font-size: 1.3em;
    font-weight: 500;
    color: #ffffff
}

.navElements {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    gap: 10px;
    flex-grow: 1;
    overflow: auto;
}

.navElements li {
    padding: 8px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.navElements li:hover {
    background-color: #3e3e3e;
    transition: 0.2s all ease-in-out;
}

.navElements li:active {
    background-color: #1e1e1e;
    transition: 0.2s all ease-in-out;
}

.navElements li > svg {
    font-size: 20px;
}

.button {
    border-radius: 6px;
    background-color: #5865f2;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 11px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 0.2s all ease-in-out;
}

.button:hover {
    background-color: #3e3e3e;
    transition: 0.2s all ease-in-out;
}

.button:active {
    background-color: #1e1e1e;
    transition: 0.2s all ease-in-out;
}

.button svg {
    width: 18px;
    height: auto;
}

ul {
    list-style: none;
}


.cards {
    margin-top: 50px;
    display: grid;
    place-items: center;
}


.main {
    max-width: 75rem;
    padding: 3em 1.5em;
    display: grid;
    place-items: center;
}
  
.cards__heading {
    font-weight: 600;
    font-size: 2.25em;
    margin-bottom: 0.75em;
    text-align: center;
    color: #eceff1;
}
  
.cards {
    position: relative;
}
  
.cards__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
  }
  
.card {
    --flow-space: 0.5em;A
    --hsl: var(--hue), var(--saturation), var(--lightness);
    flex: 1 1 14rem;
    padding: 1.5em 2em;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    align-items: start;
    gap: 1.25em;
    color: #eceff1;
    background-color: #212121;
    border: 1px solid #eceff133;
    border-radius: 15px;
}
  
.card:nth-child(1) {
    --hue: 165;
    --saturation: 82.26%;
    --lightness: 51.37%;
}
  
.card:nth-child(2) {
    --hue: 291.34;
    --saturation: 95.9%;
    --lightness: 61.76%;
}
  
.card:nth-child(3) {
    --hue: 338.69;
    --saturation: 100%;
    --lightness: 48.04%;
}
  
.card__bullets {
    line-height: 1.4;
    text-align: center;
}
  
/* check */
/* .card__bullets li::before {
    display: inline-block;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='16' title='check' fill='%23dddddd'%3E%3Cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z' /%3E%3C/svg%3E");
    transform: translatey(0.25ch);
    margin-right: 1ch;
} */
  
.card__heading {
    font-size: 1.05em;
    font-weight: 600;
    text-align: center;
}
  
.card__price {
    font-size: 1.75em;
    font-weight: 700;
}
  
.flow > * + * {
    margin-top: var(--flow-space, 1.25em);
}
  
.cta {
    display: block;
    align-self: end;
    margin: 1em 1 0.5em 0;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #0d0d0d;
    padding: 0.7em;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    
}



.overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    user-select: none;
    opacity: var(--opacity, 0);
    -webkit-mask: radial-gradient(
      25rem 25rem at var(--x) var(--y),
      #000 1%,
      transparent 50%
    );
    mask: radial-gradient(
      25rem 25rem at var(--x) var(--y),
      #000 1%,
      transparent 50%
    );
    transition: 400ms mask ease;
    will-change: mask;
}
  
.overlay .card {
    background-color: hsla(var(--hsl), 0.15);
    border-color: hsla(var(--hsl), 1);
    box-shadow: 0 0 0 1px inset hsl(var(--hsl));
}
  
.overlay .cta {
    display: block;
    grid-row: -1;
    width: 100%;
    background-color: hsl(var(--hsl));
    box-shadow: 0 0 0 1px hsl(var(--hsl));
}
  
:not(.overlay) > .card {
    transition: 400ms background ease;
    will-change: background;
}
  
:not(.overlay) > .card:hover {
    --lightness: 95%;
    background: hsla(var(--hsl), 0.1);
}

/* css to image */
.imgTest{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -8px;
}

/* css to divider */

.divider {
    border: 2px solid #2e2e2e;
    height: 50px;
}

/* text */
.text2 {
    font-size: 35px;
    font-weight: 600;
    text-align: match-parent;
    color: whitesmoke;
}

.text3 {
    font-size: 21px;
    font-weight: 600;
    text-align: match-parent;
    color: whitesmoke;
}

.hr2 {
    width: 100px;
}

/* card heading X */

.card__heading2 {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.card__heading3 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

/* background */

.game_card {
    background-image: url("/assets/discord.png");
}

/* blogs */ 

.h1a {
    color: whitesmoke;
    text-align: center;
}

.h1b {
    color: whitesmoke;
}

.h1l { /* list */
    font-size: 25px;
    color: whitesmoke;
}

.imgT {
    height: 75px;
    width: 100px;
}

.notify {
    position: absolute;
    margin-left: 10px;
    margin-top: 20px;
    box-shadow: -10px 10px 10px 10px #000;
    line-height: 100px;
    text-align: center;
    border-radius: 10px;
    color: whitesmoke;
    background-color: #2e2e2e;
    width: 250px;
    height: 100px;
}